<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="client.css">
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/nolan/512/filled-chat.png">
    <script src="https://kit.fontawesome.com/828c670315.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <title>WebSoc</title>
</head>
<body>
    <span class="homehead">
        Welcome to chatbase prototype1.....
    </span>
    <p style="margin-top:10px;">
        Please enter a username to join the chat room..!!
    </p>

    <form action="/" method="post" class="inputsec">
        <input type="text" name="uname" id="uname" autocomplete="off" placeholder="username(max 8chars)">
        <button id="starter" type="submit">
            <i class="fa-solid fa-bolt"></i>
        </button>
    </form>
    <script>
    </script>
</body>
</html>